{% extends 'pages/base.html.twig' %}

{% block body %}
<div class="black-bg">
	{% if cartList is empty %}
	{% trans with {'%shopUrl%': path('products') }%}<b>Your cart is empty.</b> Browse the <a href="%shopUrl%">shop</a>{% endtrans %}
	{% else %}
	<script>window.cartElements = {{ cartList|json_encode()|raw }}</script>
	<div id="cart">
	</div>
	<div class="btn-toolbar justify-content-between mt-3" role="toolbar" aria-label="{% trans %}Cart management{% endtrans %}">
		<div class="btn-group">
			<button type="button" class="btn btn-outline-danger" id="emptyCart">{% trans %}Empty cart{% endtrans %}</button>
		</div>
		<a href="{{ path('products') }}" class="btn btn-secondary">{% trans %}Continue shopping{% endtrans %}</a>
		<div class="btn-group" role="group" aria-label="First group">
			<div class="input-group">
				<div class="input-group-prepend">
				<div class="input-group-text" id="cartSumCurrency">€</div>
				</div>
				<input type="text" class="form-control" placeholder="{% trans %}Cart sum{% endtrans %}" disabled aria-label="{% trans %}Cart sum{% endtrans %}" aria-describedby="cartSumCurrency" id="cartSum">
			</div>
			<button type="button" class="btn btn-primary">{% trans %}Checkout{% endtrans %}</button>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block background_image %}zoom-bg-1.jpg{% endblock %}
