{% extends 'pages/base.html.twig' %}

{% block body %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 templatemo-content-wrapper">
	<div class="templatemo-content">
		<section id="password-lost-form" class="inactive active" style="display: block;">
			<div class="col-md-12 black-bg">
				<h2 class="text-center">Reset password</h2>
				{% set flashMessages = app.session.flashbag.get('login') %}
				{% if flashMessages is not empty %}
				<div class="alert alert-danger col">
					{% for flashMessage in flashMessages %}{{ flashMessage }}{% endfor %}
				</div>
				{% endif %}
				<form action="{{ path("reset_password", { 'token': token|url_encode })}}" method="post">
					<div class="form-group">
						<!--<label for="passwordReset">Email Address</label>-->
						<input value="" required name="password" type="password" id="passwordReset" class="form-control" placeholder="New password" />
					</div>
					<div class="form-group">
						<!--<label for="repeatPasswordReset">Password</label>-->
						<input required name="repeat_password" type="password" id="repeatPasswordReset" class="form-control" placeholder="Repeat" />
					</div>
					<button type="submit" class="mb-3 btn btn-outline-primary btn-block btn-lg">Reset password</button>
				</form>
			</div>
			<div class="row margin-top-20">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					{{ include('components/back-to-menu-btn.html.twig') }}
				</div>
			</div>
		</section><!-- /.contact-section -->
	</div>
</div>
{% endblock %}

{% block background_image %}zoom-bg-7.jpg{% endblock %}
