{% extends 'pages/base.html.twig' %}

{% block javascripts %}
<script>
	new Vue({
		el: '#app'
	})
</script>
{% endblock %}

{% block body %}

<section id="print-your-own-section" class="inactive active" style="display: block;">
	<div class="row">
		<div class="black-bg col-md-12 col-lg-12 col-xl-12">
			<h2 class="text-center">Print your own model</h2>
			<div class="col-md-12 col-lg-12">
				<p>You are able to previsualize your model before printing it ! We reccommand you to check you twice that your model is mainfold and therefore has no flows before ordering. After your order you will not be able to send another model.</p>
				<div id="object-view">
					<model-stl src="/uploads/models/cube.stl"></model-stl>
				</div>
			</div>
		</div>
	</div>
	<div class="row margin-top-20">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{{ include('components/back-to-menu-btn.html.twig') }}
		</div>
	</div>
</section><!-- /.company-intor-section -->
{% endblock %}

{% block background_image %}zoom-bg-6.jpg{% endblock %}
