
#cart {
	.unit-count {
		max-width: 65px;
	}
}
#cartSum {
	border-radius: 0;
}
.removeItem{
	font-size: 38px;
	padding: 0;
	line-height: 0px;
	height: 38px;
	width: 38px;
	padding-bottom: 5px;
}
.product-image{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
}
.products .product > article{
	display: block;
	height: 100%;

	> section{
		padding: 0;
	}
}