body {
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
}
#preloader {
	display: none;
}
html {
	height: 100%;
}
