{% extends 'emails/base.html.twig' %}

{% block body %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 templatemo-content-wrapper">
	<div class="templatemo-content">
		<section id="menu-section" class="active">
			<div class="row">
				<div class="col-md-12">
					Oh you lost your password? Reset it here: <a href="{{reset_url}}">{{reset_url}}</a>
				</div>
			</div>
		</section><!-- /.menu-section -->
	</div><!-- /.templatemo-content -->
</div><!-- /.templatemo-content-wrapper -->
</div><!-- /.row -->
{% endblock %}

{% block background_image %}zoom-bg-1.jpg{% endblock %}
