{% extends 'emails/base.html.twig' %}

{% block body %}
<section id="menu-section" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 active">
	<div class="row">
		<div class="col-md-12">
			Lalala you registered yay. Please validate your account by following this link: <a href="{{validate_url}}">{{validate_url}}</a>
		</div>
	</div>
</section><!-- /.menu-section -->
{% endblock %}

{% block background_image %}zoom-bg-1.jpg{% endblock %}
