{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 templatemo-content-wrapper">
                   <div class="templatemo-content">
                   <section id="about-section" class="inactive active" style="display: block;">
                       <div class="row">
                           <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                               <h2 class="text-center">About Us</h2>
                               <div class="col-sm-6 col-md-6">
                                   <p>Cras sed venenatis nunc. Nunc porta blandit arcu ac fringilla. Quisque feugiat fringilla vulputate. Vestibulum tempus ligula ac leo scelerisque, nec bibendum neque molestie. Suspendisse potenti. Donec aliquet ligula quis convallis placerat. Sed mollis rhoncus varius. Donec non adipiscing mi, nec venenatis lorem. <a href="#">Vivamus</a> nec convallis ante, in aliquam massa.</p>
                               </div>
                               <div class="col-sm-6 col-md-6">
                                   <p>Sed ac risus sit amet nisl tempus egestas. Sed a fermentum mauris, nec ultricies lorem. Maecenas auctor a augue sodales aliquam. Vestibulum imperdiet quam vel felis dignissim, sed iaculis nulla malesuada. Vivamus non rhoncus neque, sed elementum lorem. Aenean non leo mauris. Donec at suscipit lectus. Donec justo ipsum, scelerisque eu nisl in, sollicitudin posuere justo.</p>
                               </div>
                           </div>
                       </div>
                       <div class="row margin-top-20">
                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                               <a href="/" class="change-section">
                                   <div class="black-bg btn-menu">
                                       <h2>Back to menu</h2>
                                   </div>
                               </a>
                           </div>
                       </div>
                   </section><!-- /.about-section -->
                  </div><!-- /.templatemo-content -->
               </div><!-- /.templatemo-content-wrapper -->
{% endblock %}

{% block background_image %}zoom-bg-4.jpg{% endblock %}
