<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.scss') }}">
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<header></header>
		<section>
			{% block body %}{% endblock %}
		</section>
		<footer>FooBar</footer>
		{% block javascripts %}{% endblock %}
	</body>
</html>
