{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 templatemo-content-wrapper">
  <div class="templatemo-content">
  <section id="company-intro-section" class="inactive active" style="display: block;">
      <div class="row">
          <div class="black-bg col-sm-12 col-md-12 col-lg-12">
              <h2 class="text-center">Company Intro</h2>
              <div class="col-sm-12 col-md-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus quam, eleifend eget mattis vel, mollis eu lacus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pulvinar ut lorem sit amet feugiat. Nullam cursus ante lectus, sed vehicula nisi consectetur ut. Fusce venenatis porta lectus at luctus. Nullam et sapien purus. Fusce congue non neque eu malesuada. Quisque dictum cursus pretium.</p>
                  <p><a href="#">Donec cursus</a> justo vel metus suscipit, sit amet gravida justo pulvinar. Sed non luctus est, vel viverra nisi. Suspendisse neque ipsum, porta vitae dui eget, feugiat pretium tortor. Praesent at dolor semper, egestas elit sit amet, consectetur eros. Praesent rutrum tempor mi, quis aliquet tellus bibendum eget. Etiam et suscipit nunc. Nulla faucibus hendrerit augue. Proin faucibus sem ligula, at egestas elit ultricies non.</p>
                  <p>Maecenas ac massa erat. Quisque ac volutpat odio, quis viverra tortor. Ut interdum ornare odio, ac iaculis est lacinia nec. Cras in pulvinar urna. Sed molestie, arcu ac auctor rhoncus, nisl justo dictum leo, eu interdum est nibh eget neque. Donec sed est nec velit fringilla lobortis. Aliquam eu elit ut arcu auctor dictum. Nulla vel lobortis enim. In hac habitasse platea dictumst. Maecenas ultricies egestas dui, eu dignissim justo semper non. </p>
              </div>
          </div>
      </div>
      <div class="row margin-top-20">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
              <a href="/" class="change-section">
                  <div class="black-bg btn-menu">
                      <h2>Back to menu</h2>
                  </div>
              </a>
          </div>
      </div>
  </section><!-- /.company-intor-section -->
  </div><!-- /.templatemo-content -->
</div><!-- /.templatemo-content-wrapper -->
{% endblock %}

{% block background_image %}zoom-bg-6.jpg{% endblock %}
