{% extends 'base.html.twig' %}
{% block body %}
<div class="templatemo-content-wrapper">
  <div class="templatemo-content">
  <section id="contact-section" class="inactive active" style="display: block;">
    <div class="row">
      <div class="black-bg col-md-12 col-lg-12 col-xl-12">
        <h2 class="text-center">404 - Page Unreachable</h2>
        </div>
      </div>
    </section><!-- /.contact-section -->
  </div><!-- /.templatemo-content -->
  </div><!-- /.templatemo-content-wrapper -->
{% endblock %}
{% block background_image %}zoom-bg-1.jpg{% endblock %}
