<a href="{{ app.request.headers.get('referer') | default('.') }}" class="change-section">
	<div class="black-bg btn-menu">
		<h2><i class="fa fa-chevron-right" title="Back to menu"></i></h2>
	</div>
</a>